.hamburger {
  display: none;
}
.main-nav {
  display: block !important;
  position: static;
  width: 100%;
  box-shadow: none;
}
.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.main-nav ul li {
  margin-left: 0px;
}
.main-nav ul li:first-child {
  margin: 5px;
}
.main-nav ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
}
.main-nav ul li a:hover {
  transform: scale(1.2);
  background-color: lightgray;
  color: magenta;
}